

@import 'base.css';



.carta_error{
    background-color: rgba(219, 238, 255, 0.89);
    border: 3px solid rgb(78, 176, 189);
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: 20px auto 15px auto;
    padding-bottom: 20px;

    /*Especialmente para centrar el texto*/
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 70px rgb(145, 158, 168);
}


.titulo_error{
    color: rgb(212, 16, 75);
    margin: 0px;
}

.imagen_error{
    width: 30%;
    height: 30%;
}

.texto_informativo{
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn_regreso{
    background-color: rgb(85, 182, 199);
    border: 3px solid rgb(160, 200, 236);
    border-radius: 50px;
    padding: 5px 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
}
.btn_regreso:hover{
    background-color: rgb(0, 255, 149);
    border: 3px solid rgb(11, 175, 107);
    box-shadow: 1px 2px 4px rgba(52, 207, 155, 0.63);
    transition-duration: 0.6s;
    cursor: pointer;
}