

.panel{
    background-color: rgba(233, 248, 255, 0.705);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 20px;
    padding: 10px;

    display: flex; 
    flex-wrap: wrap; 
    justify-content:space-evenly; 
    max-width: 90vw;
}

.medicina{
    border: 1.5px solid rgb(85, 197, 178);
    background-color: rgba(240, 248, 255, 0.877);
    width: 350px;
    height: 500px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_imagen_medicina{
    height: 72%;
    min-height: 72%;
    max-height: 72%;
    border-radius: 10px;
    border: 1px solid gray;   
    width: 98%; 
    margin-bottom: 2px;
    margin-top: 2px;
}

.imagen_medicina{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius:10px;
}

.info_medicina{
    background-color: rgba(189, 220, 223, 0.699);
    width: 98%;
    padding: 10px;
    border-radius: 10px;
}

.desc_medicina{
    margin: 2px;
    color: black;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.caja_acciones{
    width: 98%;
    text-align: center;
}

.btn_sumar{
    padding: 4px 10px;
    background-color: green;
    border: 2px solid rgb(70, 175, 66);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn_sumar:hover{
    background-color: rgb(24, 196, 24);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(69, 255, 109);
}
.btn_restar{
    padding: 4px 10px;
    background-color: rgb(255, 124, 36);
    border: 2px solid rgb(255, 175, 109);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn_restar:hover{
    background-color: rgb(252, 145, 58);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(255, 180, 95);
}





/* Estilos para formularios emergentes */
.form_overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.form_popup {
    background: white;
    border: 2px solid rgb(18, 189, 152);
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    box-sizing: border-box;
    text-align: center;
}

.form_popup input[type=number] {
    width: 100%;
    margin: 12px 0;
    padding: 8px;
    font-size: 16px;
}

.form_popup button {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
}

.btn_regresar {
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}


.formulario_filtros{
    background-color: rgba(13, 74, 85, 0.692);
    padding: 8px;
    width: 1000px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 14px;
}

.cont_filtro_fecha{
    display: inline;
}

.label_fecha{
    color: rgb(255, 242, 129);
}

.campo{
    border-radius: 5px;
    width: 160px;
    background-color: rgba(231, 255, 253, 0.952);
    border: 2px solid rgb(116, 189, 189);
    color: rgb(65, 90, 97);
}
.campo:focus{
    background-color: rgb(176, 237, 255);
    outline: none;
    color:rgb(10, 53, 53) ;
    transition-duration: 0.6s;
    inherits: false;
}
.boton_filtro{
    background-color: rgb(255, 81, 0);
    border-radius: 5px;
    border: 1.5px solid rgb(255, 122, 69);
    padding: 3px 6px;
    color: white;
    cursor: pointer;
}
.boton_filtro:hover{
    background-color: rgb(255, 123, 47);
    border: 1.5px solid rgb(255, 149, 51);
    transition-duration: 0.4s;
}



.btn_editar{
    background-color: rgb(255, 255, 70);
    border: 2px solid rgb(175, 173, 66);
    border-radius: 10px;
    color: rgb(32, 39, 2);
    padding: 2px 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn_editar:hover{
    background-color: rgb(255, 255, 0);
    color: #7d9e05;
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(243, 255, 69);
}

.btn_ver{
    background-color: rgb(18, 108, 211);
    border: 2px solid rgb(66, 159, 175);
    border-radius: 10px;
    color: rgb(2, 39, 39);
    padding: 2px 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn_ver:hover{
    background-color: rgb(55, 152, 243);
    color: #05879e;
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(69, 227, 255);
}

.btn_borrar{
    background-color: rgb(255, 70, 70);
    border: 2px solid rgb(175, 66, 90);
    border-radius: 10px;
    color: white;
    padding: 2px 4px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn_borrar:hover{
    background-color: rgb(255, 0, 64);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(255, 69, 131);
}

.btn_form_emergente1{
    background-color: rgb(255, 70, 70);
    border: 2px solid rgb(175, 66, 90);
    color: white;
}
.btn_form_emergente1:hover{
    background-color: rgb(255, 0, 64);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(255, 69, 131);
}
.btn_form_emergente2{
    background-color: rgb(71, 103, 105);
    border: 2px solid rgb(123, 158, 150);
    color: white;
}
.btn_form_emergente2:hover{
    background-color: rgb(119, 159, 161);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(135, 199, 196);
}

.campo_form_emergente1{
    border: 2px solid rgb(132, 224, 212);
    border-radius: 15px;

}
.campo_form_emergente1:focus{
    border: 2px solid rgb(132, 224, 212);
    outline: none; 
    box-shadow: 0 0 5px #9be6d8;
    background-color: #d6fff7;
}

.campo_form_emergente1::selection{
    background-color: rgba(50, 170, 134, 0.37); 
    color: inherit; 
}

.campo_form_emergente2{
    border: 2px solid rgb(193, 218, 214);
    border-radius: 15px;
}
.campo_form_emergente2:focus{
    outline: none; 
}



/*Botones de paginacion*/
.btn_paginacion{
    font-size: 124px; 
    padding: 5px 10px; 
    text-decoration:none;
    color: #fffd77;
}
.btn_paginacion:hover{
    color: #51f827;
    transition-duration: 0.4s;
}



.btn_paginacion_disabled{
    color:gray; 
    font-size: 124px; 
    padding: 5px 10px;
}

.texto_img_perdida{
    color: rgb(206, 29, 44);
}
.texto_sin_img{
    color: rgb(50, 69, 80);
}


.texto_sin_juguetes{
    color:rgb(168, 255, 133);
}


.desc_medicina{
    color: rgb(16, 54, 59);

}
.span_desc_medicina{
    color: rgb(231, 54, 78);
    font-weight: bold;
}


.ico_boton{
    width: 30px;
    height: 25px;

}